<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/direction.css">
	<title>线路方向</title>
</head>
<body>
	<div class="header">
		<h1>线路方向</h1>
	</div>
	<div class="container">
		<div class="info">
			请选择(701)行车方向
		</div>
		<div class="content">
			<ul>
				<a href="">
					<li>
						<p>东山总站西门->军师巷</p>
						<p>05:00至23:00</p>
					</li>
				</a>
				<a href="">
					<li>
						<p>军师巷->东山总站西门</p>
						<p>05:00至00:00</p>
					</li>
				</a>
			</ul>
		</div>
	</div>
</body>
</html>