<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/home.css">
	<title>公交查询</title>
</head>
<body>
	<div class="header">
		<h1>公交查询</h1>
	</div>
	<div class="container">
		<div class="search">
			<input class="input" type="text" placeholder="公交路线">
			<input class="btn" type="button" value="搜索">
		</div>
		<div class="content">
			<ul>
				<a href="">
					<li>701东山总站西门-军师巷</li>
				</a>
				<a href="">
					<li>702江宁公交集团-雨花台南大门</li>
				</a>
				<a href="">
					<li>703所街-武夷花园东</li>
				</a>
				<a href="">
					<li>704文化名园-象房村</li>
				</a>
			</ul>
		</div>
	</div>
	<div class="footer">
		
	</div>
</body>
</html>