<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#l-map{height:300px;width:100%;}
		#r-result {width:100%;}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BC46e2b24290dba4d0267e2430f512fe"></script>
	<title>公交/地铁线路查询</title>
</head>
<body>
	<div id="l-map"></div>
	<div id="r-result"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("l-map");            // 创建Map实例
	map.centerAndZoom(new BMap.Point(125.434025,43.83246), 12);

	var busline = new BMap.BusLineSearch(map,{
		renderOptions:{map:map,panel:"r-result"},
			onGetBusListComplete: function(result){
				var directionArr = result.PA;
				//console.log(result);
			   	if(result) {
			   		//获取第一个公交列表显示到map上
				 	var fstLine = result.getBusListItem(1);
				 	busline.getBusLine(fstLine);
				 	console.log(result.getBusListItem(0));
				 	console.log(result.getBusListItem(1));
			   	}
			}
	});

	function busSearch(){
		var busName = 160;
		busline.getBusList(busName);
		//console.log(busline);
	}

	setTimeout(function(){
		busSearch();
	},1500);
</script>
